.venv/
__pycache__/
*.pyc
.DS_Store
accounts/*.session
accounts/*.session-journal
accounts/licenses.json
.license_token
build/
/dist/
downloads/*
!downloads/*.zip
!downloads/*.dmg
*.app
.env

*.session
*.session-journal
